
#logo{float:left; margin:10px; width:170px; height:170px; border-radius:20%;}
#head_text{padding:40px; text-align: left;
    font-size:25pt; color:rgb(251, 231, 217); font-weight: normal;}

body{
    background-color: #E9D7BF;
    background-image: url(../img/backgroundimg.png);
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    background:#767F83;
    padding: 0px;
    height: 240px;
    width: 100%;
    border-radius: 3%;
}
header nav{
    height: 50px;
    width: 960px;
    margin: 0 auto;
}
header nav ul li{
    float : right;
    padding: 10px;
    background-color: #D4D1D5;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    list-style: none;
    font-family: "Mac";
    font-weight: 600;
}
header nav ul li a{
    color: rgb(111, 77, 77);
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 18pt;
    padding: 30px;
}

div.content{
    border-radius: 10px;
    width:960px;
    margin:0 auto;
    background-color: #fff7eeb4;
    font-family: "Morf";
    font-size: 17pt;
    letter-spacing: 2px;
    font-weight: 600;
}

ul li{
    font-family: "Morf";
    font-size: 17pt;
    font-weight: 600;
    color: #584141;
}

a{
    color: #785b5b;
}
a:hover {
    color: rgb(151, 134, 176);
}

h1{
    color: #584141;
    text-align: center;
    padding: 10px;
    font-family: "Mac";
    font-weight: bold;
}

h2{
    font-family: "Mac";
    font-weight: 600;
    color: #584141;
    text-align: center;
    padding: 10px;
}

p{
    color: #584141;
    padding-left: 20px;
}

div.tbl{
    border-radius: 10px;
    width:960px;
    margin:0 auto;
    background-color: #fff7eeb4;
    font-family: "Morf";
    font-size: 17pt;
    letter-spacing: 2px;
    font-weight: 600;
}
table {
    padding: 5px;
    text-align: center;
    color: #584141;
    border-collapse: separate;
    border-spacing: 2px;
    max-width: 960px;
}

tr{
    background-color:rgba(252, 233, 222, 0.895);
}

td{
    width: 235px;
}

tr.tab1{
    background-color: #abb7bda9;
    height: 190px;
}
tr.tab2{
    background-color:rgba(252, 233, 222, 0.895);
    height: 160px;
}

img{
    border-radius: 3px;
    padding: 10px;
}


div.formstyle{
    width:940px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin:0 auto;
    text-align: left;
    background-color: #fff7eeb4;
    font-family: "Morf";
    font-size: 17pt;
    letter-spacing: 2px;
    font-weight: 600;
    color: #584141;
}

footer {
    background:#767F83;
    height: 120px;
    text-align: left;
    font-size: 20pt;
    color : #f0fbff;
    font-family: "Mac";
}

@font-face {
    font-family: "Mac";
    src: url( "../fonts/MAK.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Morf";
    src: url( "../fonts/Kanit-Cyrillic.ttf") format("truetype");
    font-weight: normal;
    font-display: swap;
}