body{
    background-color: rgb(246, 246, 251);
}
form{
    width: 100%;
    text-align: center;
}
div{
    width: 100%;
    background-color: rgba(255, 252, 249, 0.356);
}

form input, form select{
    border-radius: 15px;
}

#result{
    border-radius: 15px;
    width: 50%;
    padding: 3vh;
    text-align: center;
    margin-left: 25%;
    background-color: rgba(225, 215, 250, 0.952);
}

select{
    width: 50%;
    margin-left: 25%;
}

body, form, div, option, select, input{
    font-size: 18pt;
    font-family: "Morf";
    color:rgb(81, 64, 95);
    letter-spacing: 1px;
}

@font-face {
    font-family: "Morf";
    src: url( "Kanit-Cyrillic.ttf") format("truetype");
    font-weight: normal;
    font-display: swap;
}
